.task {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid var(--light-separation-color) 1px;
  padding: 16px 0;
  background-color: transparent;
}

.task .checkbox,
.task .delete-btn {
  flex: 0 0 1.2rem;
  height: 1.2rem;
  border-radius: 0;
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.task .checkbox svg,
.task .delete-btn svg {
  width: 1.2rem;
  height: auto;
}

.delete-btn {
  display: flex;
  justify-content: flex-end;
}

.delete-btn svg {
  fill-opacity: 0.6;
}

.task .content {
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
  justify-content: flex-start;
  align-items: center;
}

/* ----------- DARK MODE START ---------- */

html.dark .task {
  border-bottom: solid var(--dark-separation-color) 1px;
}

html.dark .task:last-child,
.task:last-child  {
  border-bottom: none;
}

/* ----------- DARK MODE END ---------- */

/* ----------- RESPONSIVE START ---------- */
@media (width > 750px) {
  .task {
    flex: 0 0
    calc(
      (100% - (25px * (var(--tasks-per-row) - 1))) /
        var(--tasks-per-row)
    );
    align-items: unset;
    flex-direction: column;
    background-color: var(--light-bg-color);
    padding: 16px 1.7rem;
    border-radius: 20px;
  }

  .task .delete-btn {
    display: flex;
    justify-content: flex-end;
  }

  html.dark .task {
    background-color: var(--dark-bg-color); 
  }
}

/* ----------- RESPONSIVE END ---------- */
