:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* ----------- COLOR CONFIG START ---------- */
  --light-action-color: #2F69FE;
  --light-text-color: #000118;
  --light-done-color: #9999A3;
  --light-bg-color: #FFFFFF;
  --light-separation-color: #EFF1F7;

  --dark-action-color: #1F57E7;
  --dark-text-color: #ffffff;
  --dark-done-color: #BEBEBE;
  --dark-bg-color: #0F0E13;
  --dark-separation-color: #303239;
  /* ----------- COLOR CONFIG END ---------- */

  --tasks-per-row: 2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #747bff;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  width: 100%;
  min-height: 100vh;
  background-color: var(--light-separation-color);
}

.btn {
  display: flex;
  gap: 0.5rem;
  border-radius: 12px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--light-text-color);
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}
.btn:hover {
  border-color: var(--light-action-color);
}
.btn:focus,
.btn:focus-visible {
  outline: 0px auto -webkit-focus-ring-color;
}

.desktop-only {
  display:flex;
}
.mobile-only {
  display:none;
}

/* ----------- DARK MODE START ---------- */
html.dark {
  color: var(--dark-text-color);
  background-color: #242424;
}

html.dark body {
  color: var(--dark-text-color);
  background-color: #242424;
}

html.dark a:hover {
  color: var(--dark-separation-color);
}
html.dark .btn {
  color: var(--dark-text-color);
  background-color: var(--dark-separation-color);
}

html.dark .filter-options.open {
  background-color: #141414;
}
/* ----------- DARK MODE END ---------- */

@media (width <= 750px) {
  .desktop-only {
    display:none;
  }
  .mobile-only {
    display:flex;
  }

  .filter-options {
    display: none;
  }

  .filter-mobile {
    position: relative;
  }

  .filter-options.open {
    display: flex;
    flex-direction: column;
    /* display: none; */
    position: absolute;
    list-style: none;
    overflow: hidden;
    top: 3.2rem;
    left: 1rem;
    /* bottom: -165px; */
    right: unset;
    z-index: 1;
    padding: 1rem;
    border-radius: 20px;
    background-color: #eaedf7;
  }

}